@import './custom/colors.scss';
@import './custom/fonts.scss';
@import './custom/variables.scss';
@import './custom/mixins.scss';

.form-sample{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: $width;
    margin: 0 auto;
}

.button-list{
    display: flex;
    align-items: center;
    gap: 10px;
}