@import './custom/colors.scss';
@import './custom/fonts.scss';
@import './custom/variables.scss';
@import './custom/mixins.scss';
@import './custom/button.scss';

.form-field{
    display: grid;
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    &__label{
        font-family: 'Manrope', sans-serif;
        font-size: 14px;
        font-weight: $font-600;
        color: #212121;
        display: flex;
    }
    &__input-wrap{
        input{
            width: 100%;
            padding: 14px 10px;
            border-color: $gray-300;
            border-style: solid;
            border-width: 1px;
            box-sizing: border-box;
            border-radius: 8px;
            font-family: $font-family-name;
            font-size: 16px;
            font-weight: $font-600;
            outline: 0;
            box-shadow: none;
            &:focus{
                border-color: $neutral-500;
                box-shadow: 0 0 0 4px $neutral-200;
            }
        }
    }
    &__textarea-wrap{
        textarea{
            width: 100%;
            padding: 14px 10px;
            border-color: $gray-300;
            border-style: solid;
            border-width: 1px;
            box-sizing: border-box;
            border-radius: 8px;
            font-family: $font-family-name;
            font-size: 16px;
            font-weight: $font-600;
            resize: none;
            outline: 0;
            box-shadow: none;
            &:focus{
                border-color: $neutral-500;
                box-shadow: 0 0 0 4px $neutral-200;
            }
        }
    }
}