@import './assets/scss/custom/fonts.scss';
@import './assets/scss/custom/colors.scss';

body {
  margin: 0;
  font-family: $font-family-name;
  font-weight: $font-400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p{
  padding: 0;
  margin: 0;
}