$neutral-100: #ECEDF9;
$neutral-200: #D7D8F3;
$neutral-300: #BEC0EC;
$neutral-400: #A2A5E4;
$neutral-500: #585DCD;
$neutral-600-anchor: #494FC9;
$neutral-700: #2F349D;
$neutral-800: #2B2F8F;
$neutral-900: #262B82;


$secondary-100: #FCFEFB;
$secondary-200: #EDF2EA;
$secondary-300: #D7F4BE;
$secondary-400: #AAE874;
$secondary-500: #569B1A;
$secondary-600: #488216;
$secondary-700-anchor: #3C6C12;
$secondary-800: #2E530E;
$secondary-900: #294A0C;
$secondary-1000: #25430B;


$negatives-100: #FBF4F4;
$negatives-200: #FEE4E6;
$negatives-300: #FEC8CB;
$negatives-400: #FC7A81;
$negatives-500: #FB3640;
$negatives-600-anchor: #E90510;
$negatives-700: #C4040E;
$negatives-800: #97030B;
$negatives-900: #8A030A;

$gray-100: #FEFEFE;
$gray-200: #EEEEEE;
$gray-300: #E5E5E5;
$gray-400: #9E9E9E;
$gray-500: #787878;
$gray-600: #616161;
$gray-700: #595959;
$gray-800: #424242;
$gray-900: #212121;